In [1]:
import requests
import json
import pandas as pd

In [ ]:
###############
# Enter your address/location, then run all the cells
###############
LOCATION = '1451 Eden Ave San Jose CA 95117'

In [2]:
GEO_API = 'https://api.opencagedata.com/geocode/v1/json?'
results = requests.get(GEO_API, params={'q': LOCATION,
                              'key': '9885520318ca426793c0d92a965d5b1b',
                              'language': 'en',
                              'pretty': 1}).json()['results']
lat = results[0]['geometry']['lat']
lng = results[0]['geometry']['lng']

In [3]:
DATE = '2019-03-01'
di = pd.date_range(DATE ,freq='D', periods=21)
datelist = di.astype(str)

SUNRISE_API = 'https://api.sunrise-sunset.org/json?'

In [4]:
a = pd.DataFrame([requests.get(SUNRISE_API, params={'lat': lat,
                                            'lng': lng, 
                                            'date': date, 
                                            'formatted': 0}).json()['results'] 
                  for date in datelist])

In [5]:
df = a[['sunrise','sunset']]

In [6]:
df['sunrise'] = pd.to_datetime(df['sunrise'])
df['sunset'] = pd.to_datetime(df['sunset'])
df['sunrise'] = df['sunrise'].dt.tz_convert('US/Pacific')
df['sunset'] = df['sunset'].dt.tz_convert('US/Pacific')

/apps/python3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/apps/python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/apps/python3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/apps/python3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [7]:
df

                     sunrise                    sunset
0  2019-03-01 06:37:59-08:00 2019-03-01 18:02:04-08:00
1  2019-03-02 06:36:36-08:00 2019-03-02 18:03:02-08:00
2  2019-03-03 06:35:12-08:00 2019-03-03 18:04:01-08:00
3  2019-03-04 06:33:48-08:00 2019-03-04 18:04:59-08:00
4  2019-03-05 06:32:23-08:00 2019-03-05 18:05:57-08:00
5  2019-03-06 06:30:57-08:00 2019-03-06 18:06:54-08:00
6  2019-03-07 06:29:31-08:00 2019-03-07 18:07:51-08:00
7  2019-03-08 06:28:04-08:00 2019-03-08 18:08:48-08:00
8  2019-03-09 06:26:37-08:00 2019-03-09 18:09:45-08:00
9  2019-03-10 07:25:10-07:00 2019-03-10 19:10:42-07:00
10 2019-03-11 07:23:42-07:00 2019-03-11 19:11:38-07:00
11 2019-03-12 07:22:14-07:00 2019-03-12 19:12:34-07:00
12 2019-03-13 07:20:45-07:00 2019-03-13 19:13:29-07:00
13 2019-03-14 07:19:17-07:00 2019-03-14 19:14:25-07:00
14 2019-03-15 07:17:47-07:00 2019-03-15 19:15:20-07:00
15 2019-03-16 07:16:18-07:00 2019-03-16 19:16:16-07:00
16 2019-03-17 07:14:49-07:00 2019-03-17 19:17:11-07:00
17 2019-03-18 07:13:19-07:00 2019-03-18 19:18:05-07:00
18 2019-03-19 07:11:49-07:00 2019-03-19 19:19:00-07:00
19 2019-03-20 07:10:19-07:00 2019-03-20 19:19:54-07:00
20 2019-03-21 07:08:49-07:00 2019-03-21 19:20:49-07:00